[Desktop Entry]
Version=1.0
Type=Application
Name=Bosco
GenericName=Game
Comment=Bosco
Icon=/home/bruce/gjs/bosco/data/bosco.png
Exec=/home/bruce/gjs/bosco/bosco.js
NoDisplay=false
Categories=Game;
Keywords=Bosco;
StartupNotify=false
Terminal=false
